/* Real basic styling, but I will get better. Just you wait. */

body {
    color: rgb(20, 77, 0);
    background-color: rgb(119,242,70);
}

h1 {
    text-align: center;
    font-size: 50px;
}

table {
    border: 2px solid black;
}

table td, table th {
    border: 1px solid black;
}

nav {
   font-size: 20px; 
}
